.logo {
  max-width: 100%;
  width:50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.spacer {
  height: 50px;
}

.spacer1 {
  height: 30px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #428B99;
  font-weight: bold;
}

p {
  color: #333;
}

header {
  background-color: #fff;
  padding: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #428B99;
}

.navbar-nav li a {
  color: #333;
}

.hero {
  background-color: #428B99;
  padding: 10px 0;
}

.hero h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #fff;
}

.btn.btn-light.btn-lg {
  background-color: #E0AC14;
  color: #fff;
  font-size: 1.25rem;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.about {
  background-color: #fff;
  padding: 50px 0;
}

.about h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.about p {
  color: #666;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.menu {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.menu h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 30px;
}

.menu-item h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.menu-item p {
  color: #777;
}

.reservation {
  background-color: #fff;
  padding: 50px 0;
}

.reservation h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.reservation p {
  color: #666;
}

.contact {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.contact h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.contact p {
  color: #777;
}

.footer {
  background-color: #428B99;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #fff;
}

.footer a {
  color: #fff;
}

.social-icons {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #fff;
}

.social-icon:last-child {
  margin-right: 0;
}

#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #E0AC14;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#scroll-top i {
  font-size: 20px;
}
